<ion-header>
  <ion-toolbar>
    <div class="grid-container">
      <div><ion-img src="assets/images/Icon-cocktail.png" class="logo"></ion-img></div>
      <div><ion-button class="reservation" routerLink="/my-reservations">Reservation</ion-button></div>
      <div><ion-img src="assets/images/ranking.png" class="ranking"></ion-img></div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="ion-wrap">

      <ion-label >Name</ion-label>
      <ion-item>
        <ion-input type="text">Groove Bar</ion-input>
      </ion-item>
      <ion-label>Location</ion-label>
      <ion-item>
        <ion-input type="text"> Lisbon</ion-input>
      </ion-item>
      <ion-label>Contact</ion-label>
      <ion-item>
        <ion-input type="text">213461417</ion-input>
      </ion-item>
      <ion-label>Email</ion-label>
      <ion-item>
        <ion-input type="email">N/A</ion-input>
      </ion-item>
      <div class="mt-2"></div>
     <div class="video">
      <iframe height="300" src="https://www.youtube.com/embed/AsfclbQ1K1s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
     <div class="mt-2"></div>
     <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12452.789000775983!2d-9.145338!3d38.7132801!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbde680f3cf4c4844!2sGroove%20Bar!5e0!3m2!1sen!2s!4v1643889986726!5m2!1sen!2s"  height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </div>
     <div class="mt-2"></div>
      <ion-button class="back-btn" routerLink="/bars-list">Back</ion-button>
    </div>

  </div>
</ion-content>
