
.ion-wrap{
  margin-top: 5vh;
  background-color: #fff;
  width: 80%;
  padding: 2px;
  display: block;
  margin: auto;
  }

  .login-btn{
  display: block;
  margin: 2vh auto 2vh;
  width: 90%;
  --background: var(--ion-color-background);
  color: #000;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  }


  .center-text{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }

