<ion-content>
  <div class="container">
    <div class="mt-2"></div>
    <div class="center-logo">
      <ion-img src="assets/images/Icon-cocktail.png"></ion-img>
    </div>
    <ion-text class="title">
      <h1>What kind of person are you?</h1>
    </ion-text>
    <div class="mt-2"></div>
    <div class="ion-wrap">

      <ion-item>
        <ion-button type="email">Sad</ion-button>
      </ion-item>

      <ion-item>
        <ion-button type="password">Happy</ion-button>
      </ion-item>

      <ion-item>
        <ion-button type="password">Energetic</ion-button>
      </ion-item>

      <ion-item>
        <ion-button type="password">Lazy</ion-button>
      </ion-item>

      <ion-item>
        <ion-button type="password" >Party Animal</ion-button>
      </ion-item>
      <div>
        <ion-button class="login-btn" routerLink="/home">Confirm</ion-button>
      </div>
    </div>
  </div>
</ion-content>