<ion-content>
  <div class="container">
    <div class="mt-2"></div>
    <div class="center-logo">
      <ion-img src="assets/images/Icon-cocktail.png"></ion-img>
    </div>
    <ion-text class="title">
      <h1>Login to Bar Connoisseur!</h1>
    </ion-text>
    <div class="mt-2"></div>
    <div class="ion-wrap">
      <ion-label >Email</ion-label>
      <ion-item>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-label>Password</ion-label>
      <ion-item>
        <ion-input type="password"></ion-input>
      </ion-item>
      <div>
        <ion-button class="login-btn" routerLink="/home">Confirm</ion-button>
      </div>
    </div>

    <p class="center-text">Dont have an acount? Register now!</p>
  </div>
</ion-content>
