<ion-header>
  <ion-toolbar>
    <div class="flex-container">
      <div><ion-img src="assets/images/Icon-cocktail.png" class="logo"></ion-img></div>
      <div><ion-img src="assets/images/settings.png" class="settings"></ion-img></div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="mt-3"></div>
    <div class="mt-3"></div>
    <div class="ion-wrap">

      <ion-button class="login-btn" routerLink="/search-bar">Search for Bars</ion-button>
      <ion-button class="login-btn" routerLink="/my-reservations">My Reservations</ion-button>
      <ion-button class="login-btn" routerLink="/main">Logout</ion-button>

    </div>
  </div>
</ion-content>
