ion-toolbar {
    --background: #e9e19e;
}

.header-md::after{
 background-image: none;
}

.logo{
  width: 30% !important;
  padding: 20px;
  float: left;
}

.settings{
  width: 25% !important;
  padding: 20px;
  float: right;
}

.ion-wrap{
  margin-top: 15vh;
}

.login-btn{
  display: block;
  margin: 6vh auto 5vh;
  width: 70%;
  --background: var(--ion-color-background);
  --border-radius: 60px;
  color: #000;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}


