
<ion-content>
  <div class="container">
    <div class="mt-2"></div>
    <div class="center-logo">
      <ion-img src="assets/images/Icon-cocktail.png"></ion-img>
    </div>
    <ion-text class="title">
      <h1>Welcome to Bar Connoisseur!</h1>
    </ion-text>
    <div class="mt-3"></div>
    <ion-button class="ion-margin-top" routerDirection="forward" routerLink="/login">
      Login
    </ion-button>
    <div class="mt-1"></div>
    <ion-button class="ion-margin-top" routerDirection="forward" routerLink="/register">
      Register
    </ion-button>
    <div class="mt-3"></div>

    <ion-button class="ion-margin-top" >
      Login with Facebook  <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    <div class="mt-1"></div>
    <ion-button class="ion-margin-top" >
      Login with Gmail <ion-icon name="logo-google"></ion-icon>
    </ion-button>

  </div>
</ion-content>
