ion-button{
  display: block;
  margin: auto;
  width: 70%;
  --background: #C4C4C4 !important;
  --border-radius: 60px;
  color: #000;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

ion-icon{
  font-size: 1rem;
  color: #000;
  padding-left: 6px;
}
